* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #635666;
}

.heading {
    font-weight: bold;
    text-align: center;
    background-color: #D3EBCD;
    color: #635666;
    font-size: 50px;
}

.sub-heading {
    font-weight: bold;
    background-color: #D3EBCD;
    color: #635666;
    font-size: 30px;
}

.list {
    background-color: #AEDBCE;
}

li a {
    color: #635666;
}

li {
    height: 35px;
}